@use '../custom' as *;
@use'../components/mixins' as *;

.get-started {
    padding: 4rem 0;
    @include introgradient;
    
}

.cta {
    background-color: $gray-300;
}
.cta-info {

    padding: 5rem;
    text-align: center;
    color: black;
    position: relative;

    &--text {
        width: 100px;
    }
}
.cta-hand-icon {
    @include media-breakpoint-down(sm) {
        display: none;
    }
    
    i {
        color: $black;
        font-size: 3rem;
        line-height: 2.5rem;
        position: relative;
        animation: hand-transition 1.5s infinite;
        animation-direction: alternate;
    }
}

.form {
    padding: 3rem;

    button {
        border: 0.1rem solid rgba($black, 0.6);
        background-color: $gray-300;
        margin-top: 1rem;

        a {
            color:$white;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}
